{include file="public/header" }
{include file="public/nav" }
{include file="public/banner_b" }
<div class="content">
	<div id="bare1">
		<h2>裸机云配置产品</h2>
		<div class="container pc" style="position:relative;">
			<i id="l-arrow"></i>
			<i id="r-arrow"></i>
			<div class="tab">
				<ul>
					{if condition="$area_info"}
					{volist name="area_info" id="vo"}
					<li {if condition="$key eq 0"}class="light" {/if} >{$vo.area_name|default=""}</li>
					{/volist}
					{/if}
				</ul>
			</div>
		</div>
		<ul class="card bg2 pc">
			{if condition="$area_info"}
			{volist name="area_info" id="vo"}
			<li class="container" {if condition="$key eq 0"} style="display: list-item;" {/if} >
				<table class="bg1">
					<tr>
						<th>CPU</th>
						<th>内存</th>
						<th>硬盘</th>
						<th>宽带</th>
						<th>流量</th>
						<th>IP</th>
						<th>DDOS防御</th>
						<th>金额</th>
						<th></th>
					</tr>
					{if condition="$vo['product'] neq ''"}
					{volist name="vo['product']" id="voo"}
					<tr>
						<td>{$voo.p_name|default=''}</td>
						<td>{$voo.p_nc|default=''}</td>
						<td>{$voo.p_yp|default=''}</td>
						<td>{$voo.p_kd|default=''}</td>
						<td>{$voo.p_ll|default=''}</td>
						<td>{$voo.p_ip|default=''}</td>
						<td>{$voo.ddos|default=''}</td>
						<td>${$voo.p_money|default=''}</td>
						<td><a class="btb c1" target="__blank" {if condition="$voo['p_url']"} href="{$voo['p_url']|default=''}" {else/} href="javascript:;" {/if}>现在订购</a></td>
					</tr>
					{/volist}
					{/if}
				</table>
			</li>
			{/volist}
			{/if}
		</ul>
		<div class="container phone" style="position:relative;">
			<div class="swiper-container tab1">
				<ul class="swiper-wrapper">
					{if condition="$area_info"}
					{volist name="area_info" id="vo"}
					<li class="{if condition="$key eq 0"} light {/if} swiper-slide">{$vo.area_name|default=""}</li>
					{/volist}
					{/if}
				</ul>
			</div>
		</div>
		<ul class="bg2 phone card2">
			{if condition="$area_info"}
			{volist name="area_info" id="vo"}
				{if condition="$key eq 0"}
			<li class="container swiper-container swiper2" style="display: list-item;">
				{else/}
			<li class="container swiper-container swiper2">
				{/if}
				<ul class="clear swiper-wrapper">
					{if condition="$vo['product'] neq ''"}
					{volist name="vo['product']" id="voo"}
					<li class="swiper-slide">
						<div class="bg1">
							<p>CPU <span>{$voo.p_name|default=''}</span></p>
							<p>内存 <span>{$voo.p_nc|default=''}</span></p>
							<p>硬盘 <span>{$voo.p_yp|default=''}</span></p>
							<p>宽带 <span>{$voo.p_kd|default=''}</span></p>
							<p>流量 <span>{$voo.p_ll|default=''}</span></p>
							<p>IP <span>{$voo.p_ip|default=''}</span></p>
							<p>DDOS防御 <span>{$voo.ddos|default=''}</span></p>
							<p>金额 <span class='c4'>${$voo.p_money|default=''}</span></p>
							<a class="btb c1" target="__blank" {if condition="$voo['p_url']"}  href="{$voo['p_url']|default=''}" {else/} href="javascript:;" {/if}>去咨询</a>
						</div>
					</li>
					{/volist}
					{/if}
				</ul>
				<div class="swiper-pagination"></div>
			</li>
			{/volist}
			{/if}
		</ul>

	</div>
	<!--为什么选择裸机云-->
	{include file="public/luoji" }
	<!--为什么选择裸机云 end -->
</div>
{include file="public/footer" }
<script type="text/javascript">
	$('#menu').on('click',function(){$(this).toggleClass('show');$('body').toggleClass('fix');})
	$('#navl li').on('click',function(){if($('#menu').is(":visible")){$(this).toggleClass('show').siblings().removeClass('show');}return})
	$('#bare1 .tab li').on('click',function(){$(this).addClass("light").siblings().removeClass('light');$("#bare1 .card li").hide().eq($(this).index()).show();})
		$('#bare1 .tab1 li').on('click',function(){$(this).addClass("light").siblings().removeClass('light');$("#bare1 .card2>li").hide().eq($(this).index()).show();})
	//按钮箭头
  var catew = $('#bare1 .tab').width();cateLiw = 0;
  $('#bare1 .tab li').each(function(){cateLiw +=$(this).outerWidth();})
  var page=Math.ceil(cateLiw/catew);i=0;
  $('#r-arrow').on('click',function(){
    i++;
    if(page==1&&i==1){i==0;}
    if(i<page){$('#l-arrow').show();$('#bare1 .tab ul').animate({"margin-left":-catew*i+'px'},500)}
    if(i+1==page){$(this).hide();}
  });
  $('#l-arrow').on('click',function(){
    i--;
    if(i>0&&i<page){$('#bare1 .tab ul').animate({"margin-left":-catew*i+'px'},500)}
    else{i==0;$(this).hide();$('#bare1 .tab ul').animate({"margin-left":0+'px'},500)}
    $('#r-arrow').show();
  });
  var tab= new Swiper('#bare1 .tab1',{
  	freeMode: true,
		centeredSlides : true,
		centeredSlidesBounds:true,
		slidesPerView: 'auto',
  })
  var mySwiper2 = new Swiper('.swiper2',{
		effect : 'coverflow',
		loop:true,
		slidesPerView: 1.5,
		centeredSlides: true,
	  observer: true,
	  coverflowEffect: {
	    rotate:50,
	    // stretch: 0,
	    depth: 60,
	    modifier: 1,
	    slideShadows : false
	  },
	  pagination: {
	    el: '.swiper-pagination',
	  },
	})
</script>
