{include file="public/header" }
{include file="public/nav" }
{include file="public/index_banner" }
<style>
	.new_class{cursor:pointer;}
	</style>
<!-- WPA Button Begin -->

<script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDA2MDA2M180NzEyNTNfODAwMDYwMDYzXw"></script>
<!-- WPA Button End -->

<div class="content">
	<div id="home1" class="container">
		<h2>全球多云网络 助力企业拓展业务</h2>
		<ul class="clear">
			<li>
				<a href="{:url('home/bare/index')}" target="_blank" style="color:#000;"><div>
					<img src="__STATIC__/images/index(1).png">
					<p>裸机云</p>
					<span class="c2">快速部署全球业务</span>
				</div></a>
			</li>
			<li>
				<a href="{:url('home/solution/index')}"  target="_blank" style="color:#000;"><div>
					<img src="__STATIC__/images/index(2).png">
					<p>服务器托管</p>
					<span class="c2">一站式全球服务托管</span>
				</div></a>
			</li>
			<li>
				<a href="{:url('home/privatea/publicindex')}" target="_blank" style="color:#000;"><div>
					<img src="__STATIC__/images/index(3).png">
					<p>公有云</p>
					<span class="c2">打造高速稳定安全的公有云</span>
				</div></a>
			</li>
			<li>
				<a href="{:url('home/ddos/index')}" target="_blank" style="color:#000;"><div>
					<img src="__STATIC__/images/index(4).png">
					<p>DDOS 防御解决方案</p>
					<span class="c2">1Tbps+DDOS 防御解决方案</span>
				</div></a>
			</li>
			<li>
				<a href="{:url('home/ddos/sdwan')}" target="_blank" style="color:#000;"><div>
					<img src="__STATIC__/images/index(5).png">
					<p>SD-WAN</p>
					<span class="c2">强大的云+网络连接智能管理</span>
				</div></a>
			</li>
			<li>
				<a href="{:url('home/ddos/ipindex')}" target="_blank" style="color:#000;"><div>
					<img src="__STATIC__/images/index(6).png">
					<p>IP Transit</p>
					<span class="c2">提供全球IP传输方案</span>
				</div></a>
			</li>
			<li>
				<a href="{:url('home/ddos/globala')}" target="_blank" style="color:#000;"><div>
					<img src="__STATIC__/images/index(7).png">
					<p>全球大带宽网络</p>
					<span class="c2">万兆服务器助力企业发展</span>
				</div></a>
			</li>
			<li>
				<a href="{:url('home/mix/index')}" target="_blank" style="color:#000;"><div>
					<img src="__STATIC__/images/index(8).png">
					<p>公有云经济</p>
					<span class="c2">与多家超大规模公有云厂商合作</span>
				</div></a>
			</li>
		</ul>
	</div>
	<div id="home2" class="bg3 c1">
		<h2>四大核心能力 助力企业畅行全球</h2>
		<ul class="container clear">
			<li>
				<div>
					<img src="__STATIC__/images/index(9).png">
					<p>云集成服务能力</p>
					<span>公有云、私有云、裸机云多云互联</span>
				</div>
			</li>
			<li>
				<div>
					<img src="__STATIC__/images/index(10).png">
					<p>专业的托管服务能力</p>
					<span>一站式全球多国托管服务</span>
				</div>
			</li>
			<li>
				<div>
					<img src="__STATIC__/images/index(11).png">
					<p>全球网络服务能力</p>
					<span>T级网络，99%连接率</span>
				</div>
			</li>
			<li>
				<div>
					<img src="__STATIC__/images/index(12).png">
					<p>运维服务能力</p>
					<span>13年以上运维服务<br>7x24全年技术支持</span>
				</div>
			</li>
		</ul>
	</div>
	<div id="home3">
		<h2>全球数据中心 拓展全球业务</h2>
		
		<ul id="map">
	<img src="__STATIC__/images/map.png" style="display:block;">
	<li id="btl"><i></i><p>波特兰</p></li>
	<li id="shs"><i></i><p>圣何塞</p></li>
	<li id="lsj"><i></i><p>洛杉矶</p></li>
	<li id="hg"><i></i><p>韩国</p></li>
	<li id="rb"><i></i><p>日本</p></li>
	<li id="tw"><i></i><p>台湾</p></li>
	<li id="yd"><i></i><p>印度</p></li>
	<li id="tg"><i></i><p>泰国</p></li>
	<li id="yn"><i></i><p>越南</p></li>
	<li id="jpz"><i></i><p>柬埔寨</p></li>
	<li id="flb"><i></i><p>菲律宾</p></li>
	<li id="xjp"><i></i><p>新加坡</p></li>
	<li id="ld" class="bg7"><i class="bg7"></i><p>伦敦</p></li>
	<li id="flkf" class="bg7"><i class="bg7"></i><p>法兰克福</p></li>
	<li id="amstd" class="bg7"><i class="bg7"></i><p>阿姆斯特丹</p></li>
</ul>
	</div>
	
	<div id="home4" class="container clear">
		<h2>最新资讯</h2>
		<div class="bg1">
			<p><strong>新闻动态</strong><a class="c3" href="{:url('home/article/news')}">更多</a></p>
			<ul>
				{if condition="$article['info_new']"}
				{volist name="$article['info_new']" id="vo"}
				<li><p class="new_class" data-name="{$vo.a_id|default=''}">[{$vo.c_name|default=""}] {$vo.a_title|default=""}</p><span class="c3">{:date('Y-m-d',$vo['a_updatetime'])}</span></li>
				{/volist}
				{/if}
			</ul>
		</div>
		<div class="bg1">
			<p><strong>知识库</strong><a class="c3" href="{:url('home/article/news_zhishi')}">更多</a></p>
			<ul>
				{if condition="$article['info_zhi']"}
				{volist name="$article['info_zhi']" id="vo"}
				<li><p class="new_class" data-name="{$vo.a_id|default=''}" data-aurl='{$vo.a_url}' data-cid="{$vo.c_id}">[{$vo.c_name|default=""}] {$vo.a_title|default=""}</p><span class="c3">{:date('Y-m-d',$vo['a_updatetime'])}</span></li>
				{/volist}
				{/if}
			</ul>
		</div>
	</div>
	<div class="container">
		<div id="home5">
			<h2>我们的合作伙伴</h2>
			<ul class="clear">
				{if condition="$partner"}
				{volist name="$partner" id="vo"}
				<li><a rel="nofollow"><img alt="{$vo.title|default=''}" src="/uploads/{$vo.thumb|default=''}"></a></li>
				{/volist}
				{/if}
			</ul>
		</div>
	</div>
</div>
{include file="public/footer" }


<script type="text/javascript">
	var mySwiper = new Swiper('#swiper1', {
		autoplay: {
			delay: 3000,
			stopOnLastSlide: false,
			disableOnInteraction: false
		},
		effect : 'fade',
		pagination: {
			el: '.swiper-pagination',
			clickable :true,
			bulletClass : 'line',
			bulletActiveClass: 'AC'
		}
	});
	$('#menu').on('click',function(){
		$(this).toggleClass('show');
		$('body').toggleClass('fix');
	})
	$('#navl li').on('click',function(){
		if($('#menu').is(":visible")){
			$(this).toggleClass('show').siblings().removeClass('show');
		}
		return
	})
	var box0 = $("#home5"),v0 = 1.5;
	Rin(box0,v0);
	function Rin($Box,v){
		var $Box_ul = $Box.find("ul"),$Box_li = $Box_ul.find("li"),left = 0,s=0,timer;
		$Box_li.each(function(index){s += $(this).outerWidth(true);})
		window.startroll = window.startroll||function(Tmove){return setTimeout(Tmove,1000/60)};
		window.stoproll = window.stoproll||clearTimeout;
		if( s>=$Box.width()){
			$Box_li.clone(true).appendTo($Box_ul);
			Tmove();
			function Tmove(){
				left -= v;
				if(left <= -s){left = 0;$Box_ul.css("left",left)}else{ $Box_ul.css("left",left) }
				timer = startroll(Tmove);
			}$Box_ul.hover(function(){stoproll(timer)},function(){Tmove()})
		}
	};
</script>
<script type="text/javascript">
	$(function(){
		$(".new_class").click(function(e){
			var a_id = $(this).attr("data-name");
			var c_id = $(this).data('cid');
			var a_url = $(this).data('aurl');
			if(c_id == 18) {
				$(window).attr('location',a_url);
			}else{
				$(window).attr('location',"{:url('home/article/details')}?a_id="+a_id )
			}

		});
	});
</script>
