{include file="public/header" }
{include file="public/nav" }
{include file="public/banner_b" }
<div class="content">
	<div id="ip1" class="bg2">
		<h2>什么是IP传输服务？</h2>
		<div class="container">
			<p>RAKSMART 通过我们在全球最好的光纤网络提供IP传输服务<br/>我们在整个地区提供广阔的覆盖面，以提供您的IP解决方案，我们提供多种接口</p>
			<table class="bg1">
	      <tr><th>Bandwidth 带宽</th><th>BGP</th><th>IPV4 和 IPV6 可用</th></tr>
	      <tr>
	        <td>1-10 Gbps</td>
	        <td><i></i></td>
	        <td><i></i></td>
	        <td><a class="btb c1" href="javascript:;">联系我们</a></td>
	      </tr>
	      <tr>
	        <td>40 Gbps</td>
	        <td><i></i></td>
	        <td><i></i></td>
	        <td><a class="btb c1" href="javascript:;">联系我们</a></td>
	      </tr>
	      <tr>
	        <td>100 Gbps</td>
	        <td><i></i></td>
	        <td><i></i></td>
	        <td><a class="btb c1" href="javascript:;">联系我们</a></td>
	      </tr>
	      <tr>
	        <td>100 Gbps+</td>
	        <td><i></i></td>
	        <td><i></i></td>
	        <td><a class="btb c1" href="javascript:;">联系我们</a></td>
	      </tr>
	      <tr>
	      	<td colspan="3"><a class="btb c1" href="javascript:;">联系我们</a></td>
	      </tr>
	    </table>
		</div>			
	</div>
	<div id="home3" class="ip2">
		<h2>全球数据中心 拓展全球业务</h2>
		<ul id="map">
			<img src="__STATIC__/images/map.png" style="display:block;">
			<li id="btl"><i></i><p>波特兰</p></li>
			<li id="shs"><i></i><p>圣何塞</p></li>
			<li id="lsj"><i></i><p>洛杉矶</p></li>
			<li id="hg"><i></i><p>韩国</p></li>
			<li id="rb"><i></i><p>日本</p></li>
			<li id="tw"><i></i><p>台湾</p></li>
			<li id="yd"><i></i><p>印度</p></li>
			<li id="tg"><i></i><p>泰国</p></li>
			<li id="yn"><i></i><p>越南</p></li>
			<li id="jpz"><i></i><p>柬埔寨</p></li>
			<li id="flb"><i></i><p>菲律宾</p></li>
			<li id="xjp"><i></i><p>新加坡</p></li>
			<li id="ld" class="bg7"><i class="bg7"></i><p>伦敦</p></li>
			<li id="flkf" class="bg7"><i class="bg7"></i><p>法兰克福</p></li>
			<li id="amstd" class="bg7"><i class="bg7"></i><p>阿姆斯特丹</p></li>
		</ul>
	</div>
	<div id="ip3" class="bg2">
		<h2>IP传输服务</h2>
		<ul class="container clear">
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017<br>624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017<br>624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
			<li>
				<div class="bg1">624 South Grand Avenue Los Angeles,CA 90017</div>
			</li>
		</ul>
	</div>
	{include file="public/message" }
</div>
{include file="public/footer" }
<script type="text/javascript">
	$('#menu').on('click',function(){$(this).toggleClass('show');$('body').toggleClass('fix');})
	$('#navl li').on('click',function(){if($('#menu').is(":visible")){$(this).toggleClass('show').siblings().removeClass('show');}return})
	$('#budget').click(function(){
    $(this).find('ol').show();
  });
  $('#budget li').click(function(e){
    var val = $(this).text();
    $(this).parents('ol').siblings('input').val(val);
    $('#budget ol').hide();
    e.stopPropagation();
  });
</script>