{include file="public/header" }
{include file="public/nav" }
{include file="public/banner_b" }
<div class="content">
	<div id="syy1" class="bg2">
		<h2>托管式私有云</h2>
		<p class="container">相比于公有云，企业对于私有云的困难不在于如何使用，而是建设与运维管理、托管私有云专家为用户提供一站式私有云方案咨询设计、实施部署、运维管理与扩容优化服务，帮助用户如同使用公有云一样使用私有云</p>
		<img src="__STATIC__/images/syy(1).png" alt="">
	</div>
	<div id="syy2" class="bg1">
		<h2>托管式私有云</h2>
		<p class="syy2-title">Bussniss Network</p>
		<img class="pc" src="__STATIC__/images/syy(2).png">
		<img class="phone" src="__STATIC__/images/syy(2)-1.png" alt="">
		
		<p class="syy2-title1">支持多厂商的托管式私有云解决方案</p>
		<p>
			{if condition="$banner_info_two"}
			{volist name="banner_info_two" id="vo"}
			<img alt="{$vo.name|default=''}" src="/uploads/{$vo.img_url|default=''}">
			{/volist}
			{/if}
		</p>
	</div>
	{include file="public/message" }
</div>
{include file="public/footer" }
<script type="text/javascript">
	$('#menu').on('click',function(){$(this).toggleClass('show');$('body').toggleClass('fix');})
	$('#navl li').on('click',function(){if($('#menu').is(":visible")){$(this).toggleClass('show').siblings().removeClass('show');}return})
	
	$('#budget').click(function(){$(this).find('ol').show();});
  $('#budget li').click(function(e){
    var val = $(this).text();
    $(this).parents('ol').siblings('input').val(val);
    $('#budget ol').hide();
    e.stopPropagation();
  });
</script>
