<style>
.layui-table img{
	max-width:50px;
	max-height:50px;
}
#selected_group_goods .label-title{width:auto;padding-left:0px;}
#demo1{
    max-width: 350px;
    max-height: 200px;
}
</style>  
  <div class="layui-fluid" >
        <form class="layui-form websearch" action="" id="myForm" >
			<div class="layui-form" lay-filter="">
		
			<input type="hidden" name="c_id" value="{$info['c_id']}">
                <div class="layui-form-item">
                    <label class="layui-form-label">上级分类</label>
                    <div class="layui-input-inline" style="width: 250px;">
                        <select name="pid">
                            <option value="0">作为一级分类</option>
                            {volist name="info_data" id="vo"}
                            <option {if condition="$info['pid'] eq $vo['c_id']"} selected {/if} value="{$vo.c_id}" >{$vo.c_name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-form-mid layui-word-aux">&nbsp;</div>
                </div>
                <div class="layui-form-item">
                <label class="layui-form-label">分类名称</label>
                <div class="layui-input-inline" style="width: 250px;">
                  <input type="text" name="c_name" lay-verify='required' value="{$info['c_name']}" class="layui-input" lay-verify="required">
                </div>
                <div class="layui-form-mid layui-word-aux">&nbsp;</div>
              </div>
			  <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline" style="width: 250px;">
                  <input type="text" name="listorder" lay-verify='required' value="{$info['listorder']}" class="layui-input" lay-verify="required">
                </div>
                <div class="layui-form-mid layui-word-aux">&nbsp;</div>
              </div>
						  
              <div class="layui-form-item">
                <div class="layui-input-block">
                   <button style="margin-left:15%;" class="layui-btn" type="button" lay-filter="formDemo" lay-submit>保存数据</button>
                </div>
              </div>
            </div>
			</form>
  </div>
  <script>
  layui.use(['form'], function(){
	 var $ = layui.jquery;
	 var form = layui.form;
		//提交
		form.on('submit(formDemo)', function(data){
            var obj = $(this);
			var formData = $("#myForm").serialize();
            obj.attr('disabled',true);
            $.ajax({
                type:"POST",
                url:'__URL__/submitedit',
                data:formData,
                dataType:"JSON",
                success:function(data){
                    if(data.code == 0)
                    {
                        layer.msg('保存成功！',{icon:1,time: 2000},function(){
                            window.parent.location.reload();//刷新父页面
                            parent.layer.closeAll();
                        });
                    }
                    else{
                        obj.attr('disabled',false);
                        layer.msg(data.msg,{icon:2}, function(){ });
                    }
                }
            });
        });
  
  });
  </script>