<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>生成数据缓存</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">缓存操作</div>
          <div class="layui-card-body">
            <div class="layui-btn-container">
              <button class="layui-btn layui-btn-normal" id='make_cache'>生成缓存</button>
            </div>
          </div>
        </div>
  
  <script src="/static/layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','jquery'],function(){
    var $ = layui.$
    var layer = layui.layer
    $('#make_cache').click(function(){
      $.get('/index/Index/makeDataCache',{},function(data,datatype){
        if(data.code == 200) layer.alert('缓存生成成功');
      },'json');
    })

  });
  </script>
</body>
</html>