<style>
.layui-table img{
	max-width:50px;
	max-height:50px;
}
#selected_group_goods .label-title{width:auto;padding-left:0px;}
#demo1{
    max-width: 350px;
    max-height: 200px;
}
</style>  
  <div class="layui-fluid" >
        <form class="layui-form websearch" action="" id="myForm" >
			<div class="layui-form" wid100 lay-filter="">
			  <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <select name="type">
                        <option value="">请选择</option>
                        {volist name="dictionaries_type" id="vo"}
                        <option {if condition="$info['type'] eq $vo['id']"} selected {/if}  value="{$vo.id}" >{$vo.name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">&nbsp;</div>
              </div>
			  <div class="layui-form-item">
                <label class="layui-form-label">产品名称</label>
                <div class="layui-input-inline" style="width: 250px;">
                  <input type="text" name="name" lay-verify='required' value="{$info.name}" class="layui-input" >
                </div>
                <div class="layui-form-mid layui-word-aux">&nbsp;</div>
                  <label class="layui-form-label">U数</label>
                  <div class="layui-input-inline" style="width: 250px;">
                      <input type="text" name="unumber" lay-verify='required' value="{$info.unumber}" class="layui-input" >
                  </div>
              </div>
			  <div class="layui-form-item">
                <label class="layui-form-label">电量</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" name="dian" value="{$info.dian}" class="layui-input" >
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
                  <label class="layui-form-label">PDU</label>
                  <div class="layui-input-inline" style="width: 250px;">
                       <input type="text" name="pdu" value="{$info.pdu}" class="layui-input" >
                  </div>
                  <div class="layui-form-mid layui-word-aux"></div>
              </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">接口</label>
                    <div class="layui-input-inline" style="width: 250px;">
                        <input type="text" name="kou" value="{$info.kou}" class="layui-input" >
                    </div>
                    <div class="layui-form-mid layui-word-aux"></div>
                    <label class="layui-form-label">ip</label>
                    <div class="layui-input-inline" style="width: 250px;">
                        <input type="text" name="ip" value="{$info.ip}" class="layui-input" >
                    </div>
                    <div class="layui-form-mid layui-word-aux"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">价格</label>
                    <div class="layui-input-inline" style="width: 250px;">
                        <input type="text" name="money"value="{$info.money}" placeholder="美元" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">订购url</label>
                    <div class="layui-input-inline" style="width: 250px;">
                        <input type="text" name="go"value="{$info.go}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">Http://开头</div>
                </div>
<input type='hidden' name='id' value="{$info.id}">
              <div class="layui-form-item">
                <div class="layui-input-block">
                   <button style="margin-left:15%;" class="layui-btn" type="button" lay-filter="formDemo" lay-submit>保存数据</button>
                </div>
              </div>
            </div>
			</form>
  </div>
  <script>
  layui.use(['form'], function(){
	 var $ = layui.jquery;
	 var form = layui.form;
		//提交
		form.on('submit(formDemo)', function(data){
            var obj = $(this);
			var formData = $("#myForm").serialize();
            obj.attr('disabled',true);
            $.ajax({
                type:"POST",
                url:'/admin/fuwu/submitedit',
                data:formData,
                dataType:"JSON",
                success:function(data){
                    if(data.code == 0)
                    {
                        layer.msg('保存成功！',{icon:1,time: 2000},function(){
                            window.parent.location.reload();//刷新父页面
                            parent.layer.closeAll();
                        });
                    }
                    else{
                        obj.attr('disabled',false);
                        layer.msg(data.msg,{icon:2}, function(){ });
                    }
                }
            });
        });
  
  });
  </script>