<div id="footer" class="bg3">
	<div class="container">
		<ul class="clear c1">
			<li>产品
				<a class="c1" href="{:url('home/bare/index')}">裸机云</a>
				<a class="c1" href="{:url('home/large/index')}">大带宽服务器</a>
				<a class="c1" href="{:url('home/custom/index')}">定制服务器</a>
				<a class="c1" href="/"><img style="height:25px;" class="pc" src="__STATIC__/images/logo.png"></a>
			</li>
			<li>服务器
				<a class="c1" href="{:url('home/solution/trusteeship')}">服务器托管</a>
				<a class="c1" href="{:url('home/solution/index')}">一站式解决方案</a>
			</li>
			<li>云集成服务器
				<a class="c1" href="{:url('home/privatea/publicindex')}">公有云</a>
				<a class="c1" href="{:url('home/privatea/index')}">私有云</a>
				<a class="c1" href="{:url('home/mix/index')}">混合云互联</a>
			</li>
			<li>解决方案
				<a class="c1" href="{:url('home/ddos/ipindex')}">IP Transit</a>
				<a class="c1" href="{:url('home/ddos/index')}">DDOS 防御</a>
				<a class="c1" href="{:url('home/ddos/network')}">Network Peering</a>
				<a class="c1" href="{:url('home/ddos/globala')}">全球网络</a>
				<a class="c1" href="{:url('home/ddos/sdwan')}">SD-WAN</a>
			</li>
			<li>合作与代理
				<a class="c1" href="{:url('home/reseller/index')}">Reseller</a>
				<a class="c1" href="{:url('home/reseller/affiliates')}">Affiliates</a>
			</li>
			<li>公司介绍
				<a class="c1" href="{:url('home/article/news')}">新闻动态</a>
				<a class="c1" href="{:url('home/all/join')}">加入我们</a>
				<a class="c1" href="{:url('home/article/news_zhishi')}">知识库</a>
				<a class="c1" href="{:url('home/all/sla')}">服务协议</a>
				<a class="c1" href="{:url('home/all/contact')}">联系我们</a>
			</li>
		</ul>
	</div>
	<div style="z-index:2; float:right;">
<a href="javascript:void(window.open('https://livezilla.raksmart.com/livezilla/chat.php?hfk=MQ__','','width=400,height=600,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))" class="lz_cbl"><img src="https://livezilla.raksmart.com/livezilla/image.php?id=1&type=inlay?hfk=MQ__" width="201" height="53" style="border:0;" alt="LiveZilla Live Chat Software"></a>
<!-- livezilla.net PLACE SOMEWHERE IN BODY -->
<div id="lvztr_01b" style="display:none;"></div><script id="lz_r_scr_53191554e4ff8339484d864ca3d6d6c9" type="text/javascript" defer>lz_code_id="53191554e4ff8339484d864ca3d6d6c9";var script = document.createElement("script");script.async=true;script.type="text/javascript";var src = "https://livezilla.raksmart.com/livezilla/server.php?rqst=track&output=jcrpt&hfk=MQ__&nse="+Math.random();script.src=src;document.getElementById('lvztr_01b').appendChild(script);</script>
<!-- livezilla.net PLACE SOMEWHERE IN BODY -->
  </div>
</div>
</body>
</html>
