<div id="bare2" class="container">
	<h2>为什么选择裸机云</h2>
	<ul class="clear">
		<li>
			<div class="bg1">
				<img src="__STATIC__/images/bare(1).png" alt="">
				<p>独立硬件资源</p>
				<span class="c2">独享 CPU 内存 硬盘 网卡等硬件资源，独享服务器性能和带宽防御</span>
			</div>
		</li>
		<li>
			<div class="bg1">
				<img src="__STATIC__/images/bare(2).png" alt="">
				<p>全球网络部署</p>
				<span class="c2">出口带宽覆盖全球，T 级带宽保证</span>
			</div>
		</li>
		<li>
			<div class="bg1">
				<img src="__STATIC__/images/bare(3).png" alt="">
				<p>灵活升级扩展</p>
				<span class="c2">根据需求可升级带宽，IP 防御和网络</span>
			</div>
		</li>
		<li>
			<div class="bg1">
				<img src="__STATIC__/images/bare(4).png" alt="">
				<p>无忧售后服务</p>
				<span class="c2">13年以上的运维服务<br>7*24小时全年技术支持</span>
			</div>
		</li>
	</ul>
	<!--<ul class="clear">
		{if condition="$article"}
		{volist name="article" id="vo"}
		<li>
			<div class="bg1">
				<img src="/uploads/{$vo.a_img|default=''}" alt="{$vo.a_title|default=''}">
				<p>{$vo.a_title|default=''}</p>
				<span class="c2">{$vo.a_introduction|default=''}</span>
			</div>
		</li>
		{/volist}
		{/if}
	</ul>-->
</div>