<style>
.layui-table img{
	max-width:50px;
	max-height:50px;
}
#selected_group_goods .label-title{width:auto;padding-left:0px;}
#demo1{
    max-width: 350px;
    max-height: 200px;
}
</style>  
  <div class="layui-fluid" >
        <form class="layui-form websearch" action="" id="myForm" >
			<div class="layui-form" wid100 lay-filter="">
			  <div class="layui-form-item">
                <label class="layui-form-label">网络运营商分布</label>
                <div class="layui-input-inline" style="width: 250px;">
					{volist name="type_network" id="vo"}
					<input type="checkbox" {if condition="in_array($key,$info['w_operator'])"} checked {/if} name="w_operator[]" lay-skin="primary" value="{$key}" title="{$vo}" >
					{/volist}
					
                </div>
                <div class="layui-form-mid layui-word-aux">&nbsp;</div>
              </div>
			  <div class="layui-form-item">
                <label class="layui-form-label">网络名称</label>
                <div class="layui-input-inline" style="width: 250px;">
                  <input type="text" name="w_name" lay-verify='required' value="{$info.w_name|default=''}" class="layui-input" lay-verify="required">
                </div>
                <div class="layui-form-mid layui-word-aux">&nbsp;</div>
              </div>
			  <div class="layui-form-item">
                <label class="layui-form-label">测试ip</label>
                <div class="layui-input-inline" style="width: 250px;">
                  <input type="text" name="w_ip" lay-verify='required' value="{$info.w_ip|default=''}" class="layui-input" lay-verify="required">
                </div>
                <div class="layui-form-mid layui-word-aux">&nbsp;</div>
              </div>
			  <div class="layui-form-item">
                <label class="layui-form-label">下载测试地址</label>
                <div class="layui-input-inline" style="width: 250px;">
                  <input type="text" name="w_url" lay-verify='url' value="{$info.w_url|default=''}" class="layui-input" >
                </div>
                <div class="layui-form-mid layui-word-aux">http://开头</div>
              </div>
			  <input type="hidden" name="id" value="{$info.id|default=''}">
              <div class="layui-form-item">
                <div class="layui-input-block">
                   <button style="margin-left:15%;" class="layui-btn" type="button" lay-filter="formDemo" lay-submit>保存数据</button>
                </div>
              </div>
            </div>
			</form>
  </div>
  <script>
  layui.use(['form'], function(){
	 var $ = layui.jquery;
	 var form = layui.form;
		//提交
		form.on('submit(formDemo)', function(data){
            var obj = $(this);
			var formData = $("#myForm").serialize();
            obj.attr('disabled',true);
            $.ajax({
                type:"POST",
                url:'/admin/network/submitedit',
                data:formData,
                dataType:"JSON",
                success:function(data){
                    if(data.code == 0)
                    {
                        layer.msg('保存成功！',{icon:1,time: 2000},function(){
                            window.parent.location.reload();//刷新父页面
                            parent.layer.closeAll();
                        });
                    }
                    else{
                        obj.attr('disabled',false);
                        layer.msg(data.msg,{icon:2}, function(){ });
                    }
                }
            });
        });
  
  });
  </script>